/* CSS files add styling rules to your content */
* {
margin:0;
padding:0;
}
.demo-card-wide.mdl-card{
  width:400px;
  margin: 20px;
}
body {
  font-family: 'Roboto', sans-serif;
  /*margin: 2em;*/
  background-color: #FAFAFA;
}
.boody{
  width: 100%;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1% 18% 80% 1%;
  grid-template-areas: ". sidebar main1 .";
  grid-gap: 3em;
}
.orar {
  /*background: lightgray;*/
  grid-area: ore;
}
.containerOrar{
  grid-area: main1;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 100%;
  grid-template-areas: "ore" "sali";
  grid-gap: 30px;
}
.sali{
  grid-area: sali;
}

aside{
 /* background: #4DB6AC;*/
  grid-area: sidebar;
  padding: 20px;

}


th {
  padding: 40px;
  text-align: left;
  font-weight: bold;
  /*background: #4DB6AC;*/

}
td{
  padding: 35px;
  text-align: left;
}
td:hover{
  background-color: #e0e0e0;
}

/*
table{
  box-shadow: 0 4px 8px 0 #9E9E9E, 0 6px 20px 0 #9E9E9E;

}
.selected{
  background-color: #eeff41;
}

.sali .selected{
  background-color: #eeff41;
}


td:disabled{
  background-color: #F5F5F5;
  color: gray;
}*/
input[type = submit], input[type = number] {
  width: 100%;
}
input[type = submit] {
  padding: 10px;
  background-color: #24305E;
  color: white;
}

.noColor{
  background: #FFFFFF;
}

.redColor{
  background: #ffd54f;
}

/* phone addaptation */

@media only screen and (max-width: 1000px){
  .boody{
    grid-template-rows: min-content min-content;
    grid-template-columns: 1% 98% 1%;
    grid-template-areas: ". main1 ." ". sidebar .";
  }
}