@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #149bd1;
}

/* Wrapper */

    #wrapper {
        display: flex;
        flex-direction: row-reverse;
        min-width: 100vh;
        font-family: 'Roboto', sans-serif;
    }

/* Header */

    #header {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        position: relative;
    }

        #header img {
            width: 100%;
            display: inline-block;
        }

        #header .title {
            flex-grow: 2;
            border-bottom: 0;
            color: white;
            padding-top: 1em;
            font-size: 1.725em;
        }

/* Login */

    .login {
        flex-grow: 5;
        padding: 3em 6em 0.1em 6em ;
        margin: 0 auto;
        text-align: center;
        max-width: 30em;
    }

    .login > section {
        padding: 2em 0 2em 0;
        border: solid 2px white;
		margin: 0 0 2em 0;
    }

        .login .error-msg {
            padding-top: 2em;
            color: #292929;
        }

    .input input {
        appearance: none;
		border-radius: 0.375em;
		border: solid 1.25px #ffffff;
		display: block;
        padding: 0 1em;
        margin: 0 auto;
		text-decoration: none;
		width: 80%;
		height: 2.75em;
    }

        .input input:focus {
            border: solid 1.25px #292929;
        }

        .input label {
            color: white;
            display: block;
            margin: 1em 0 1em 0;
        }

    .login-button {
        appearance: none;
		border-radius: 0.375em;
		border: 0;
		display: inline-block;
		height: 3em;
		padding: 0 2em;
		margin: 2em 0 0 0;
		text-align: center;
    }

